body {
  padding-top: 60px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*p {
  line-height: 0.5em;
}*/

.lead, div, p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

.jumbotron {
  background-color: white;
  font-weight: 300;
}

.navbar-brand {
  font-weight: 300;
  letter-spacing: 2.75px;
  font-size: 1.9em;
}

.row.banner-section {
  min-height: 350px;
  position: relative;
  max-width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: white;
  text-shadow: 0 0 8px #000;
  background-size: cover;
  background-position: 60%;
}

.all-center {
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
}

.banner-section-text {
  font-size: 1.8em;
  font-weight: 300;
}

.no-gutter, .no-gutter > .row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.text-banner {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.regular-page-container {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

#ea-main-logo {
  margin-bottom: 2em;
  height: 220px;
}

#footer-legal {
  padding-top: 1em;
  font-size: 0.75em;
  line-height: 0.5em;
}
