<!doctype html>
<html lang="en">
  <head>
    <title> {{ .Site.Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://{{ .Site.BaseURL }}/css/bootstrap.css">
    <link rel="stylesheet" href="http://{{ .Site.BaseURL }}/css/style.css">
    <script src="http://{{ .Site.BaseURL }}/js/fontawesome-all.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400" rel="stylesheet">
  </head>
  <body>


  {{ partial "navbar.html" . }}
