<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="{{ .Site.BaseURL }}" class="navbar-brand">{{ .Site.Title | upper }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <li><a href="{{ .Site.BaseURL }}">{{ .Site.Params.navBarHome }}</a></li>
            <li><a href="{{ .Site.BaseURL }}/about">{{ .Site.Params.navBarAboutUs }}</a></li>
            <li><a href="{{ .Site.BaseURL }}/contact">{{ .Site.Params.navBarContactUs }}</a></li>
        </div>
      </div>
    </div>
