{{ partial "header.html" . }}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{ .Site.Params.FullTitle }}</h1>
    <p class="lead text-muted">{{ .Site.Params.Strapline }}</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<div class="container-fluid no-gutter">
  <div id="who-are-we" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/city-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">Who are we?</span></div>
  </div>
</div>

<section class="text-center">
  <div class="container">
    {{ .Content }}
  </div>

<div class="container-fluid no-gutter">
  <div id="ea-network-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/world-at-night.jpg')">
    <div class="all-center"><span class="banner-section-text">A proud member of the effective altruism network</span></div>
  </div>
</div>


{{ partial "footer.html" }}
