{{ partial "header.html" . }}

{{ partial "jumbotron.html" . }}

<div class="container-fluid no-gutter">
  <div id="top-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/top-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.topBannerText }}</span></div>
  </div>
</div>

<section class="text-center">
  <div class="container banner-section text-banner">
      <p class="lead">{{ .Site.Params.leadText }}</p>

      <container>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <h3>{{ .Site.Params.firstSectionHeader }}</h3>
          </div>
          <div class="col-lg-8">
            <p>{{ readFile "/content/homepage/_first_section_text.md" | markdownify }}</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <h3>{{ .Site.Params.secondSectionHeader }}</h3>
          </div>
          <div class="col-lg-8">
            <p>{{ readFile "/content/homepage/_second_section_text.md" | markdownify }}</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-4">
            <h3>{{ .Site.Params.thirdSectionHeader }}</h3>
          </div>
          <div class="col-lg-8">
            <p>{{ readFile "/content/homepage/_third_section_text.md" | markdownify }}</p>
          </div>
        </div>
      </container>
  </div>

<div class="container-fluid no-gutter">
  <div id="ea-network-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/world-at-night.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.bottomBannerText }}</span></div>
  </div>
</div>
</section>


{{ partial "footer.html" . }}
