{{ partial "header.html" . }}

<div class="container-fluid no-gutter">
  <div id="top-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/contact-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.pages.contactPageHeader }}</span></div>
  </div>
</div>

<section class="text-center">
  <div class="container banner-section text-banner">
      <p class="lead">{{ .Site.Params.contactform.leadText }}</p>

      <container>
          <form action="https://formspree.io/{{ .Site.Params.groupinfo.contactEmail }}"
                method="POST">
              <p>{{ .Site.Params.contactform.senderName }}:</p>
              <input type="text" name="name">

              <br><br>
              <p>{{ .Site.Params.contactform.senderEmail }}:</p>
              <input type="email" name="_replyto">

              <br><br>
              <p>{{ .Site.Params.contactform.emailSubject }}:</p>
              <input name="_subject"/>

              <br><br>
              <p>{{ .Site.Params.contactform.emailMessage }}:</p>
              <textarea rows=10 columns=30></textarea>

              <br>
              <input type="submit" value="{{ .Site.Params.contactform.send }}">
          </form>
      </container>
  </div>
</section>

{{ partial "footer.html" . }}
